body {
  height: 100%;
  width: 100%;
}

a {
  color: blue;
}

a:link {
  color: blue;
}

a:visited {
  color: purple;
}

a:hover {
  text-decoration: none;
}

a:active {
  color: purple;
}


@media (max-width: 520px) {
  
}

@media (min-width: 520px) and (max-width: 992px) {
  
}

@media (min-width: 992px) and (max-width: 1280px) {
  
}
