body {
height: 100%;
width: 100%;
}


.menu li{
  list-style: none;
}


.menu li a {
  width: 52px;
  height: 13px;
  color: #ffffff;
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 13.54px;
  text-decoration: none;

}

/*a:link {


}

a:visited {
color: purple;
}

a:hover {
text-decoration: none;
}

a:active {
color: purple;
}*/


@media (max-width: 520px) {

}

@media (min-width: 520px) and (max-width: 992px) {

}

@media (min-width: 992px) and (max-width: 1280px) {

}



/* Intro */

.intro {
    size: 100%;
    width: 100%;
    height: 550px;
    display: block;
    background: url(../images/bg.jpg) no-repeat center;
}

.intro-about-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1px auto;
    width: 710px;
    height: 150px ;
  /*background: red;*/
}
.menu{
    margin:0 0 25px -13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 460px;
    height: 50px ;
    background: url(../images/navi2.png) no-repeat center;
}

.about_tire_fitting{
    margin: 0 auto;
    display: flex;
    max-width: 1920px;
    height: 1575px;
    background-image:url(../images/bg_info.jpg);
}

.about_tire_fitting_info{
    width: 50%;
    margin: 100px 0 0 440px;
    max-width: 505px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.about_tire_fitting_info h1{
    margin-left: 175px;
    color: #db1515;
    font-family: 'Exo 2', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 19.27px;
    text-transform: uppercase;
}

.about_tire_fitting_info li{
    list-style: none;
}

.about_tire_fitting_info li a{
    display: flex;
    /*margin-top: -20px;*/
    padding-left: 39px;
    padding-top:10px;
    color: #ffffff;
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}

.about_tire_fitting_style{
    margin-top: 57px;
    width: 281px;
    height: 32px;
    background-image:url(../images/info_div.png) ;
}


.balancing{
    max-width: 400px;
}
     

p{
    color: #1c1b1b;
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.disks_kind{
     display: inline-block;
     padding: 20px;
}

.painting_disks{
     max-width: 400px;
}


.about_tire_fitting_contact{
    /*  background-color: green;*/
    width: 50%;

}

.location{
    margin: 100px 0 0 240px;

}

.contacts_street{
    margin: 100px 0 0 450px;
}

.contacts_street h2{
    color: #db1515;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 19.27px;
    text-transform: uppercase;
}
.contacts_street h3{
    color: #1c1b1b;
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.phone_number{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -30px;
}


.footer {
    width: 100%;
    height: 375px;
    background: url(../images/footer.jpg) no-repeat center;
}

.footer_logo {
    display: flex;
    margin: 0 auto;
    width: 465px;
    height: 290px ;
}

.footer_img{
    margin-top: 150px;
}


.footer_tel{
    margin: 150px 0 25px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.footer_tel h2{
    color: #db1515;
    font-family: 'Exo 2', sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}

.footer_tel h3{
    color: #ffffff;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

